<div class="card mb-3">
    <div class="card-header bg-primary text-white">
        <h4>Parametros de busqueda</h4>
    </div>

    <form method="POST">
        <div class="mx-2 py-2 mb-2">
            <button class="btn btn-primary" type="submit">Consultar</button>
            <button class="btn btn-primary" type="reset">Limpiar</button>

            <div class="form-group">
                <label for="activo">Nombre</label>
                <input type="text" class="form-control" id="activo">
            </div>
        </div>
        <div class="card-body">
        </div>
    </form>

</div>